*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
padding: 5vw;
background-color: brown;
}

.menu {
display: flex;
gap: 20px;
justify-content: end;

}

.menu a {
color: white;
}

section {
padding: 5vw;
text-align: center;
font-size: 40px;
background-color: antiquewhite;
}

section h1 {
padding: 3vw;
font-size: 40px;
}

#img {
display: flex;
justify-content: space-evenly;
}

#img div button {
margin-bottom: 2vw;
background-color: rgba(240, 248, 255, 0);
padding: 1vw;
border-radius: 12px;
border: solid black;
font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

#img div button:hover {
background-color: rgba(124, 23, 16, 0.808);
transition: 0.5
s;
color: white;
}

#img img{
display: flex;
width: 300px;
box-shadow: 5px 8px 1px rgba(0, 0, 0, 0.5);

}